@media screen and (max-height: 600px) {
  .main-cont {
    height: 100vh;
  }
}
@media screen and (max-width: 460px) {
  .header-text {
    font-size: 1.8rem !important;
  }
}
@media screen and (max-width: 460px) {
  .header-text {
    font-size: 1.8rem !important;
  }
}
